# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh

# Android
/android/key.properties
/android/local.properties
/android/app/src/main/assets/flutter_assets/kernel_blob.bin
/android/app/src/main/assets/flutter_assets/FontManifest.json

# Web
/web/assets/assets/FontManifest.json
